@model Web.Models.Components.SmoothSlider

<div>
    <h4>SmoothSlider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

    </dl>
</div>