@model Core.ViewModels.EmptyFacilityViewModel
@{
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "POST",
        LoadingElementId = "loader",
        LoadingElementDuration = 0,
        UpdateTargetId = "results",
        OnSuccess = "createSuccess",
    };
}

@using (Ajax.BeginForm("CreateEmpty", "Facilities", options))
{
    <div id="results">
        <div class="modal-content">
            <h4>Create facility</h4>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "")

            <div class="input-field">
                @Html.LabelFor(model => model.Name, new { @class = "active" })
                @Html.EditorFor(model => model.Name, new { placeholder = Model.Name })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>


        <div class="modal-footer">
            <div id="loader" class="progress" style="display:none">
                <div class="indeterminate"></div>
            </div>

            <button type="submit" class="waves-effect waves-green btn-flat">Create</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}