@using Core.ViewModels
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>@ViewBag.Title - SmartHouse</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
</head>
<body>
<header>
    <nav class="green" role="navigation">
        <div class="nav-wrapper container">
            @Html.ActionLink("SmartHouse", "Index", "Facilities", new { area = "" }, new { @class = "brand-logo", id = "logo-container" })
            <ul class="right hide-on-med-and-down">
                <li><a href="#modal1">Create facility</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>

<main>
    <div class="container">
        @RenderBody()
    </div>

    <div id="modal1" class="modal">
        @Html.Partial("_CreateEmptyFacility", new EmptyFacilityViewModel())
    </div>
</main>
    
<footer class="page-footer green">
    <div class="footer-copyright">
        <div class="container">
            Made by Nikita Magda
        </div>
    </div>
</footer>


<!-- Scripts-->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/materialize")
@RenderSection("scripts", required: false)
</body>
</html>